<div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
    <div class="image" fxFlex="30" fxFlex.lt-md="100">
        <img src="assets/images/ksgrafensymbol.png" alt="">Polski Komitet Naukowy SEP ds. Technologii Grafenowej
    </div>
    <div class="image" fxFlex="70" fxFlex.lt-md="100">
        <h1>Misja</h1>
        KS Grafen służy wspieraniu projektów opierających się o wiedzę z dziedzin archiwizacji, badań, nauki, popularyzacji i komercjalizacji
        we współpracy ze środowiskiem inżynierów i naukowców SEP. Misja Fundacji Quantum ma swoją rację bytu w idei stworzonej
        i propagowanej przez KS Grafen oraz dla realizacji projektów w ramach inicjatyw KS Grafen. KS Grafen bazuje na wspieraniu
        idei niosących pożytek dla społeczeństwa.
        <h1>Wizja</h1>
        Wizją KS Grafen jest stworzenie systemu wsparcia dla rozwoju projektów mających na celu tworzenie zaktywizowanych społeczności,
        zespołów, lobby, wdrożenia innowacyjnych technologii elektrotechnicznych, głównie materiałowych (sensory grafenowe)
        czy konstrukcyjnych (ogniwa grafenowe) informacyjnych (AI), kwantowych, intelektualnych w relacji ze strukturami
        sieci informatycznych i webowych.
    </div>
</div>