<div class="content" style="float:left; width: 100%;">
  <div class="zebrania" style="float:left; width: 30%;">
    <div class="dokument">
    <a [href]="'https://sep.com.pl/tydzienSEP/2017/tydzien_w_SEP_147.pdf'" target="_blank">
      <pdf-viewer [src]="'assets/images/regulamin/tydzien_w_SEP_147.pdf'" [fit-to-page]="true" [render-text]="false"
        [zoom]="0.9" [show-all]="false" [page]="1" style="display: block;"></pdf-viewer>Tydzien w SEP
    </a>
  </div>
  <div class="dokument">
    <a [href]="'https://sep.com.pl/wydarzenia/zebranie-inauguracyjne-rady-naukowo-technicznej-sep-rnt-sep.html'" target="_blank">
      <pdf-viewer [src]="'assets/images/regulamin/zebranie-inauguracyjne-rady-naukowo-technicznej-sep-rnt-sep.pdf'"
        [zoom]="0.9" [fit-to-page]="true" [render-text]="false" [show-all]="false" [page]="1" style="display: block;"></pdf-viewer>
      Zebranie inauguracyjne Rady Naukowo-Technicznej SEP
    </a>
  </div>
</div>

<div class="image" style="float:left; width: 70%;">
  <h1>Misja</h1>
  Polski Komitet Naukowy SEP ds. Technologii Grafenowej, w skrócie K~Grafen, służy wspieraniu projektów opierających
  się o wiedzę z dziedzin archiwizacji, badań, nauki, popularyzacji i komercjalizacji
  we współpracy ze środowiskiem inżynierów i naukowców SEP. W ramach inicjatyw KGrafen miesci się misja <a href="https://quantumfoundation.github.io" target="_blank">Fundacji
    Quantum</a>, mająca rację bytu w idei stworzonej i propagowanej przez Polski Komitet Naukowy SEP ds. Technologii Grafenowej, polegającej na realizacji wyżej wymiemionych projektów. 
    Polski Komitet Naukowy SEP ds. Technologii Grafenowej bazuje na wspieraniu idei niosących pożytek dla społeczeństwa.
  <h1>Wizja</h1>
  Wizją Polskiego Komitetu Naukowego SEP ds. Technologii Grafenowej jest stworzenie systemu wsparcia
  dla rozwoju projektów mających na celu tworzenie zaktywizowanych społeczności,
  zespołów, lobby, wdrożenia innowacyjnych technologii elektrotechnicznych, głównie materiałowych (sensory grafenowe)
  czy konstrukcyjnych (ogniwa grafenowe) informacyjnych (AI), kwantowych, intelektualnych w relacji ze strukturami
  sieci informatycznych i webowych.
</div>
</div>