<h1> {{'PAGES.HOME' | translate}} ~ Społeczności</h1>

<div class="social-page" style="float:left; width: 100%;">
  <div class="youtube column-3" style="float:left; width: 30%;">
    <div class="socialimage">
      <img src="assets/images/social/youtube.png" alt="">
    </div>
    <div class="aspect-ratio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/niW6nhdBs1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="aspect-ratio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XgSa23Ise40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="aspect-ratio">
      <iframe src="https://www.youtube.com/embed/4OeR7S5TcUw" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="facebook column-3" style="float:left; width: 30%;">
    <div class="socialimage">
      <img src="assets/images/social/facebook.png" alt="">
    </div>
    <fb-page href="https://www.facebook.com/KGrafen/" data-tabs="timeline"></fb-page>
  </div>
  <div class="twitter column-3" style="float:left; width: 30%;" fxFlex.xs="100">
    <div class="socialimage">
      <img src="assets/images/social/twitter.png" alt="">
    </div>
    <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/grafen_k'}" [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
  </div>
</div>