.leftSide {
    float: left;
    width: 100%;
}


app-coin {
    float: left;
    width: 33.3%;
    margin-top: -106px;
}

app-coin:first-child, app-coin:nth-child(6)   {
    margin-left: 16.6%;
}

.holoMandala {
  width: 732px;
  background-image: url("/assets/images/KSGrafenFields.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 580px;
  margin: 20px auto;
  padding: 314px 154px;
  zoom: .5;
}

.holoMandalaCaption {
  float: left;
  text-align: center;
  font-size: 18px;
  width: 100%;
}



.starMenu {
  position: relative;
}

.starMenuItem {
  text-align: center;
  position: absolute;
  width: 160px;
  height: 100px;
  cursor: pointer;
}

.starMenuItem:hover {
  font-weight: bold;
}

article  {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.pic {
  float: left;
  margin-right: 20px;
}

.text {
  font-size: 14px;
}

.leftSide {
  position: relative;
}

.cornerText {
  font-size: 33px;
  position: absolute;
  width: 30%;
  padding: 0 5%;

  &.leftTop {
    left: 0;
  }

  &.leftTop:after {
    content: '\021AA';
    display: block;
    font-size: 48px;
    font-weight: bold;
  }

  &.rightTop {
    right: 0;
    text-align: right;
  }

  &.rightTop:after {
    content: '\021A9';
    display: block;
    font-size: 48px;
    font-weight: bold;
  }
}