<h1>{{'PAGES.HOME' }}</h1>
<div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
  <div fxFlex="50" fxFlex.lt-md="100">

    <img src="assets/images/{{'IMAGES.ACTIVITIES' }}.png">

    {{'PAGES.HOME' }} ~ {{'PAGES.HOME.IMAGE_CAPTION' }}
  </div>
  <div fxFlex="50" fxFlex.lt-md="100">
    <h2 [innerHTML]="'PAGES.PROGRAM.TITLE' "></h2>
    <p [innerHTML]="'PAGES.PROGRAM.DESCRIPTION' "></p>
    <div class="pillars-roof">
      <div><span class="roof-text">{{'PAGES.PROGRAM.ACTIVITIES' }}</span></div>
    </div>
    <div class="pillars-wrapper">
      <span *ngFor="let activity of [1,2,3,4,5,6]" class="activity-pillars" [innerHTML]="'PAGES.PROGRAM.AD_' + activity + '.PILLAR' "></span>
    </div>
    <div class="activities-descriptions">
      <div *ngFor="let activity of [1,2,3,4,5,6]">
        <h3 [innerHTML]="'Ad.' + activity + '. ' + ('PAGES.PROGRAM.AD_' + activity + '.TITLE' )"></h3>
        <p [innerHTML]="'PAGES.PROGRAM.AD_' + activity + '.DESCRIPTION' "></p>
      </div>
    </div>

  </div>
</div>