.navigation {
  zoom: .61;
}

.sevenlevels {
  background-image: url("/assets/images/sevenlevels.png");
  background-repeat: no-repeat;
  height: 321px;
  padding-top: 66px;
  text-align: center;
  max-width: 406px;
  font-size: 22px;
  line-height: 47px;
  margin: -84px auto 114px;
  background-size: 100% 100%;
  letter-spacing: 1px;
  font-weight: 600;
}

.sevenlevels .menuitem {
  cursor: pointer;
  text-decoration: none;
}

path {
  fill: red;
}

text {
  fill: #FF9800;
}

.revolverMaps {
  margin-bottom: -110px;
}

.menuHologram {
  text-align: center;
  height: 300px;
}

.menuItemPreviewName {
  text-align: center;
  vertical-align: middle;
  line-height: 300px; 
  font-size: 30px;
}

.navigationCaption{
  font-size: 25px;
  line-height: normal;
}

.image {
  text-align: center;
  margin: 20px;
  font-size: 28px;

  img {
      width: 100%;
  }
}